/* uyility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* color: white; */
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* styles */

.debug{
    margin: 50px 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #ffffff;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 30px;
}

.hero{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 480px;
    
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    min-width: 1170px;
}

p{
    font-size: 12px;
}

.bg-grey{
    background-color: bisque;
    padding: 80px 0;
}

#btntopdue{
    color: #ffffff;
    border-radius: 20px;
    padding: 12px;
    background-color: #23272a;
    vertical-align: middle;
    margin-left: 20px;
}
#btntop{
    color: #23272a;
    border-radius: 20px;
    padding: 12px;
    background-color: #ffffff;
    vertical-align: middle;
    margin-right: 20px;
}

.mainimg{
    height: 300px;
}


header nav ul{
    min-width: 500px;
    
}

header nav.container{
    padding: 10px 0;
}

ul li a {
    color: #ffffff;
}

li{
    list-style: none;
}

footer{
    background-color:#23272a;
    color: #ffffff;
    padding: 30px;
}

.flex-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.inner-hero{
    margin: 50px auto;
    text-align: center;
    max-width: 40%;
    line-height: 30px;
    padding-top: 50px;
    color: #ffffff;
}

#btndue{
    color: #ffffff;
    background-color: #23272a;
   

}

#btnlogin{
    color: #23272a;
    border-radius: 20px;
  
    background-color:#ffffff;
    vertical-align: middle;
    padding: 8px;
}

#avventura{
    background-image: url('../img/stars.svg');
    background-size: contain;
    width: 370px;
    height: 36px;
    padding: 17px 30px;
    font-size: 20px;
}

#downloadbtn{
    background-color: purple;
    color: #ffffff;
    margin: 50px 0;
    border-radius: 20px;
    padding: 8px;    
}



.testomain{
    
    width: 250px;
    margin-right: 100px;
}

.testomainright{
    
    width: 250px;
    margin-left: 100px;
}

.testomainbottom{
    width: 750px;
}

.flexmain{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;   
}

.flexbottom{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;   
    text-align: center;
}
/* fine main */

/* footer start */

footer{
    width: 100%;
    min-height: 100px;
}

li h3{
    padding-bottom: 20px;
    font-size: 30px;
    color: #5865f2;
    line-height: 30px;

}

li h4{
    padding-bottom: 10px;
    color: #5865f2;
   
}

li img{
    width: 15px;
}

ul{
    list-style: none;
}

.flexfooter{
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
}

li{
    font-size: 12px;
    padding-right: 10px 0;
    line-height: 20px;
}

hr{
    width: 100%;
    background-color: #5865f2;
    margin: 30px 0;
    border: 1px solid #5865f2;;
}

.btnfoot{
    color: #ffffff;
    background-color: #5865f2;
    padding-top: 50px;
    border-radius: 20px;
    padding: 12px;
}



.fa-brands{
    padding-top: 20px;
    margin-right: 20px;
}