/* uyility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* color: white; */
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* styles */

.debug{
    margin: 50px 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #ffffff;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 30px;
}

.hero{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 480px;
    
}

.container{
    max-width: 1170px;
    margin: 0 auto;

}

.bg-grey{
    background-color: bisque;
    padding: 80px 0;
}

.btn{
    border-radius: 20px;
    padding: 12px;
    background-color: #ffffff;
    color: black;
    vertical-align: middle;
    
}

.mainimg{
    height: 300px;
}


header nav ul{
    min-width: 500px;
    
}

header nav.container{
    padding: 10px 0;
}

ul li a {
    color: #ffffff;
}

li{
    list-style: none;
}

footer{
    background-color:#23272a;
    color: #ffffff;
    padding: 30px;
}

.flex-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.inner-hero{
    margin: 50px auto;
    text-align: center;
    max-width: 40%;
    line-height: 30px;
    padding-top: 50px;
    color: #ffffff;
}

#btndue{
    color: #ffffff;
    background-color: #23272a;
   

}

#btnlogin{
    padding: 8px;
}

#avventura{
    background-image: url('../img/stars.svg');
    background-size: contain;
    width: 370px;
    height: 36px;
    padding: 17px 30px;
}

#download{
    background-color: purple;
    color: #ffffff;
    margin: 50px 0;
    
    
    
}

.testomain{
    
    width: 250px;
    margin-right: 100px;
}

.testomainright{
    
    width: 250px;
    margin-left: 100px;
}

.testomainbottom{
    
    width: 750px;
    margin-left: 100px;
}

.flexmain{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;   
}

.flexbottom{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;   
    text-align: center;
}


hr{
    margin: 30px 0;
}

.btm{
    padding-top: 50px;
}

.foot{
    line-height: 40px;
}

.italia{
    width: 15px;
    height: 10px;
}

.fa-brands{
    margin-right: 20px;
}